<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ぴよぴよアプリ</title>
</head>

<body>
    <h2>ぴよぴよアプリ</h2>
    <p>完全なリダイレクトURIを事前登録していない場合</p>
    <form action="/authorize/not-full-redirect-uri" method="POST">
        <input type="hidden" name="_token" value="{{ .csrf }}">
        <button type="submit">ほげアプリと連携する</button>
    </form>
</body>

</html>