<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .error-wrapper {
            background-color: #FAC7C1;
            margin-bottom: 10px;
            max-width: 200px;
        }

        .error {
            color: red;
        }

        .flex {
            display: flex;
        }

        .col {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
    <title>ほげアプリ</title>
</head>

<body>
    <h2>ほげアプリ 認証</h2>
    <div class="flex">
        <div class="col">
            <form action="/authorize" method="POST">
                <input type="hidden" name="_token" value="{{ .csrf }}">
                <div class="error-wrapper">
                    <p class="error">{{ .error }}</p>
                </div>
                <input type="hidden" name="client_id" value="{{ .clientId }}">
                <input type="hidden" name="redirect_uri" value="{{ .redirectUri }}">
                <input type="hidden" name="state" value="{{ .state }}">
                <div>
                    <label for="email" style="display: block">メールアドレス</label>
                    <input type="email" name="email" id="email" value="test@example.com">
                </div>
                <div>
                    <label for="password" style="display: block">パスワード</label>
                    <input type="password" name="password" value="3jd8Ge30Qcw2h">
                </div>
                <div style="margin-top: 30px;">
                    <button type="submit">認証</button>
                </div>
            </form>
        </div>
        <div class="col">
            <h3 style="margin-top: 0px;">攻撃者のログイン情報</h3>
            <table>
                <tbody>
                    <tr>
                        <td>メールアドレス</td>
                        <td>attacker@example.com</td>
                    </tr>
                    <tr>
                        <td>パスワード</td>
                        <td>09H$w63hdiHEDd</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>