<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ほげアプリ</title>
</head>

<body>
    <h2>ほげアプリ 権限同意</h2>
    <h5>「{{ .client.Name }}」が以下の許可をリクエストしています。</h5>

    <ul>
        <li>ユーザーID</li>
        <li>ユーザー名</li>
        <li>メールアドレス</li>
        <li>アバター画像</li>
    </ul>

    <form action="/deny" method="POST">
        <input type="hidden" name="_token" value="{{ .csrf }}">
        <input type="hidden" name="user_id" value="{{ .userId }}">
        <input type="hidden" name="client_id" value="{{ .client.ClientId }}">
        <input type="hidden" name="redirect_uri" value="{{ .redirectUri }}">
        <input type="hidden" name="state" value="{{ .state }}">
        <div style="margin-top: 30px;">
            <button type="submit">拒否</button>
        </div>
    </form>

    <form action="/agree" method="POST">
        <input type="hidden" name="_token" value="{{ .csrf }}">
        <input type="hidden" name="user_id" value="{{ .userId }}">
        <input type="hidden" name="client_id" value="{{ .client.ClientId }}">
        <input type="hidden" name="redirect_uri" value="{{ .redirectUri }}">
        <input type="hidden" name="can_use_code_many_times" value="{{ .canUseCodeManyTimes }}">
        <input type="hidden" name="state" value="{{ .state }}">
        <div style="margin-top: 30px;">
            <button type="submit">同意</button>
        </div>
    </form>
</body>

</html>